.sign_in_button {
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
    color: #fff;
}

.input_remember {
    font-size: 1.4rem;
    display: flex;
}

.input_remember label {
    margin-left: 0.25rem;
}

.input_wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
}

.input_wrapper label {
    font-weight: bold;
    font-size: 1.6rem;
}

.input_wrapper input {
    padding: 0.5rem;
    font-size: 1.6rem;
    &:invalid {
        outline: none;
        border: red solid 2px;
    }
}

.error_submit {
    color: red;
    font-weight: bold;
    font-size: 1.4rem;
}
