.edit_user_name_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  .edit_user_name_input_container {
    input {
      height: 4rem;
      border: 2px solid #ccc;
      margin: 0.5rem;
      padding-left: 1rem;

    }
  ::placeholder {
    font-size: 1.6rem;
  }
  }

}

.edit_user_name_button {
  height: 3.5rem;
  width: 10rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
  color: #0275d8;
  border: 1px solid #0275d8;
  cursor: pointer;
  font-size: 1.6rem;
}